<!DOCTYPE html>
<html>
  <head>
    <title>Code Wars Exercise Collection</title>
  </head>

  <body>
    <h1>Password Checker Exercise</h1>
    <p>
      You need to write regex that will validate a password to make sure it meets the following criteria:
      </br></br>
      <ul>
        <li>
          At least six characters long
        </li>
        <li>
          contains a lowercase letter
        </li>
        <li>
          contains an uppercase letter
        </li>
        <li>
          contains a number
        </li>
      </ul>
      </br>
      </br>
      Valid passwords will only be alphanumeric characters.
    </p>
    <h2>Hit the button below to show my results</h2>
    <p>Example: Is "djI38D55" a valid password?</p>

    <button onclick="validate()">Submit</button>
    <p id="demo"></p>

    <script>
      function validate(password) {
        var password = "djI38D55";
        var isUpper = /[A-Z]/g;
        var isLower = /[a-z]/g;
        var isNumber = /[0-9]/g;
        var isAlphaNum = /[^a-zA-Z0-9]/;
        var answer = ((password.search(isUpper) != -1 && password.search(isLower) != -1 &&
        password.search(isNumber) != -1) && (password.search(isAlphaNum) == -1) &&
        (password.length >= 6)) ? true: false;

        document.getElementById('demo').innerHTML = answer;

        return answer
        }
    </script>
</html>
